<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="DbConnection" connectionString="Data Source=EAS-DEV2\SQLEXPRESS;Initial Catalog=GraingerStaging; MultipleActiveResultSets=True;Persist Security Info=True;User ID=sa;Password=Tizaro1" providerName="System.Data.SqlClient"/>-->
    <add name="DbConnection" connectionString="Data Source=Tizarosql.broadhall.local;Initial Catalog=TizaroLive;Persist Security Info=True;MultipleActiveResultSets=True;User ID=sa;Password=DeEy353J9LLeS" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="AmazonDocEndPoint" value="http://doc-tizaro-otj222ayn2q6zyu5vikak4ukyy.us-east-1.cloudsearch.amazonaws.com/2011-02-01/documents/batch" />
    <add key="LogPath" value="D:\Tizaro\Utilities\UploadDocsToCloudSearch\Logs\" />
    <add key="NoOfDocsToFetch" value="100" />
    <add key="SMTP" value="mail.authsmtp.com" />
    <add key="SMTPUser" value="ac61792" />
    <add key="SMTPPass" value="mcwseqb3hxzbvm" />
    <add key="AdminEmail" value="Ram@Tizaro.com" />
    <add key="TechSupportEmail" value="Ram@Tizaro.com" />  
  </appSettings>
</configuration>